html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(54, 51, 51);
}

.container {
    display: flex;
}

.menu-esquerdo {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: darkslategray;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-family: 'Nova Flat', sans-serif;
    color: rgb(201, 201, 201);
}

.menu-esquerdo-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-esquerdo-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto-menu-esquerdo {
    border-radius: 25%;
    width: 40%;
    margin-bottom: 1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 8vh;
    background-color: rgba(190, 23, 23, 0.986);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    font-size: 1rem;
}

.inicial {
    margin-left: 10rem;
}

.img-header {
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.main {
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(196, 196, 196);
    position: relative;
    left: 25%;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: rgb(190, 175, 33);
}

a:hover {
    text-decoration: underline;
}

.section {
    display: flex;
    align-items: center;
    padding: 5rem 1rem 5rem 1rem;
    max-width: 70vw;
}

.section .section-content {
    min-height: 92vh;
}