html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: #03071E;
}

.container {
    display: flex;
}

/* Estilização: menu esquerdo */
.menu-esquerdo {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: darkslategray;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-family: 'Nova Flat', sans-serif;
    color: rgb(201, 201, 201);
}

.menu-esquerdo-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-esquerdo-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilização: foto de perfil menu esquerdo */
.foto-menu-esquerdo {
    border-radius: 25%;
    width: 40%;
    margin-bottom: 1rem;
}

/* Estilização: cabeçalho */
.header {
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 8vh;
    background-color: #9D0208;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    font-size: 1rem;
}

/* Só um detalhe, eu vi que não podia utilizar "frameworks ou bibliotecas que auxiliam no 
desenvolvimento de elementos visuais." Eu não sei muito bem o que são são esses frameworks
e essas bibliotecas, então tentei utilizar o que parecesse ser puro do css. Mas mesmo assim eu 
queria adicionar esses botões, já que estava no pdf que eram permitdas imagens estilizadas
então eu criei umas imagens .png simples no GIMP as usei. */
.img-header {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    transition: width 1s;
}

.img-header:hover {
    width: 60%;
}

/* Aqui foi uma gambiarra, pois eu não consegui justificar as imagens ¯\_(ツ)_/¯ */
.inicial {
    margin-left: 6rem;
}

.objetivos {
    margin-left: 4rem;
}

.jogos {
    margin-right: 4rem;
    margin-top: 0.3rem;
}

/* Estilização: main */
.main {
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(196, 196, 196);
    position: relative;
    left: 25%;
    margin: 1rem;
}

/* Estilização: img-animes */
.img-anime {
    width: 20%;
    position: relative;
    margin-left: 34.5%;
    margin-top: 4rem;
    align-items: center;
    justify-content: space-around;
}

/* Estilização: links */
a {
    text-decoration: none;
    color: rgb(190, 175, 33);
}

a:hover {
    text-decoration: underline;
}

/* Estilização: section */
.section {
    display: flex;
    align-items: center;
    padding: 4rem 1rem 5rem 1rem;
    max-width: 70vw;
}

.section .section-content {
    min-height: 92vh;
}

/* Animação do cabeçalho */
.img-header {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 300%;
    }

    to {
        margin-left: 0%;
    }
}